<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="form-container">
        <form action="/api/users/delete-inactive-users" method="post">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-ban"
                viewBox="0 0 16 16">
                <path
                    d="M15 8a6.97 6.97 0 0 0-1.71-4.584l-9.874 9.875A7 7 0 0 0 15 8M2.71 12.584l9.874-9.875a7 7 0 0 0-9.874 9.874ZM16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0" />
            </svg>
            <h4>Eliminar los usuarios inactivos</h4>
            <p>Eliminaras a todos los usuarios que hayan<br> estado inactivos por mas de 30 minutos <br> </p>
            <button class="button" type="submit"
                onclick="return confirm('¿Estás seguro de que quieres eliminar los usuarios inactivos?')">
                Eliminar usuarios
            </button>
        </form>
    </div>
    <div id="logout">
        <a class="logout-a" href="/api/products">Volver</a>
    </div>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #e34e98;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            text-align: center;
        }

        .form-container {
            display: flex;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: flex-start;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin: 2rem;
        }

        input {
            padding: 5px;
        }

        button {
            margin-top: 8.8rem;
            background-color: #e34e98;
            color: #ffff;
            padding: 5px;
            border-radius: 24px;
            cursor: pointer;
            border: 1px solid #61595b00
        }

        button:hover {
            background-color: #b9407d;
        }

        h2 {
            font-family: sans-serif;
            font-size: large;
        }

        h3 {
            font-size: large;
            font-family: sans-serif;
            margin-top: 15px;
        }

        h4,
        p {
            font-size: large;
            font-family: monospace;
            margin-top: 15px;
        }

        .tittles {
            margin-top: -10rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        button {
            color: #ffff;
            background-color: #e34e98;
            padding-right: 4rem;
            padding-left: 4rem;
            margin-top: 1.5rem;
            width: 100%;
            border-radius: 24px;
            cursor: pointer;
        }

        .button {
            margin-top: 1.5rem;
            background-color: #e34e98;
            color: #ffff;
            padding: 5px;
            border-radius: 24px;
            cursor: pointer;
        }


        #logout {
            position: absolute;
            top: 80%;
        }

        #changeRole {
            margin-top: 10px;
        }


        .changeRole-a {
            text-decoration: none;

        }

        .logout-a {
            color: #ffff;
            text-decoration: none;
        }
    </style>
</body>

</html>