<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido Admin</title>
</head>

<body>
    <div class="tittles">
        <h1>Bienvenid@ Admin</h1>
    </div>
    <h2>¿Qué deseas hacer?</h2>
    <div class="container">

        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-boxes"
                viewBox="0 0 16 16">
                <path
                    d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z" />
            </svg>
            <h3>Administrar productos</h3>
            <a href="/views/admin/products" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                    <path fill-rule="evenodd"
                        d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                </svg></a>
        </div>

        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-x"
                viewBox="0 0 16 16">
                <path
                    d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m.256 7a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z" />
                <path
                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m-.646-4.854.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 0 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 .708-.708" />
            </svg>
            <h3>Usuarios inactivos</h3>
            <a href="/views/admin/users" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                    <path fill-rule="evenodd"
                        d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                </svg></a>
        </div>

        <div class="card">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                class="bi bi-person-fill-up" viewBox="0 0 16 16">
                <path
                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.854 1.5 1.5a.5.5 0 0 1-.708.708L13 11.707V14.5a.5.5 0 0 1-1 0v-2.793l-.646.647a.5.5 0 0 1-.708-.708l1.5-1.5a.5.5 0 0 1 .708 0M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path
                    d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
            </svg>
            <h3>Cambiar roles</h3>
            <a href="/api/users/premium/change-role" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="25"
                    height="25" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                    <path fill-rule="evenodd"
                        d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                </svg></a>
        </div>

        <div class="card">
            {{#if totalTickets}}
            <p class="totalOrders">{{totalTickets}}</p>
            {{/if}}
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-clipboard"
                viewBox="0 0 16 16">
                <path
                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z" />
                <path
                    d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z" />
            </svg>
            <h3>Ver pedidos</h3>
            <a href="/views/admin/orders" class="btn"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                    fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5" />
                    <path fill-rule="evenodd"
                        d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z" />
                </svg></a>
        </div>
    </div>
    <div id="logout">
        <a class="logout-a" href="/logout">Salir</a>
    </div>


    <style>
        body {
            font-family: 'Arial', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #e34e98;
            margin: 0;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            width: 200px;
            height: 250px;
            margin: 10px;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease-in-out;
            border-radius: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .card:hover {
            transform: translateY(-10px);
        }

        .button {
            background-color: #3498db;
            color: #ffffff;
            padding: 10px;
            border: none;
            cursor: pointer;
        }

        .tittles {
            color: #ffff;
            text-decoration: underline;
            font-family: fantasy;
            text-align: center;
            font-synthesis: none;
            margin-top: -10rem;
        }

        h2 {
            text-decoration: none;
            color: #ffffff;
            text-align: center;
            font-family: fantasy;
            font-synthesis: none;
        }

        #logout {
            margin-top: 2rem;
        }

        a.logout-a {
            text-decoration: none;
            color: #fff;
        }

        .totalOrders {
            color: #fff;
            background-color: #b30000;
            border-radius: 50%;
            width: 20px;
            position: absolute;
            margin-top: -65px;
        }
    </style>
</body>

</html>














{{!-- <div class="container">
    <div class="tittles">
        <h1>Bienvenido Admin</h1>
        <p>¿Qué deseas hacer?</p>
    </div>

    <div class="form-container">
        <form action="/api/products" method="post">
            <h2>Agregar un Producto</h2>
            <input type="text" name="product_name" placeholder="Nombre del producto" required>
            <input type="number" name="product_price" placeholder="Precio del producto" required>
            <input type="text" name="product_description" placeholder="Descripción del producto" required>
            <input type="number" name="stock" placeholder="Stock del producto" required>
            {{#if Message}}
            <p id="messageParagraph" style="color: red;">{{Message}}</p>
            {{/if}}
            <button class="btn-uno" type="submit">Agregar Producto</button>
        </form>

        <form action="/admin/delete-product" method="post">
            <h3>Eliminar un producto</h3>
            <label for="productId"></label>
            <input type="text" name="productId" id="productId" placeholder="ID del producto a eliminar" required>
            <input type="hidden" name="productIdHidden" value="{{productId}}">
            <button class="btn-dos" type="submit"
                onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')">Eliminar
                Producto</button>
        </form>

        <form action="/admin/update-product" method="post">
            <h4>Actualizar un producto</h4>
            <input type="text" name="productIdToUpdate" placeholder="ID del producto a actualizar" required>
            <input type="hidden" name="productId" value="{{productId}}">
            <input type="text" name="newProductName" placeholder="Nuevo nombre del producto">
            <input type="number" name="newProductPrice" placeholder="Nuevo precio del producto">
            <input type="text" name="newProductDescription" placeholder="Nueva descripción del producto">
            <button class="btn-tres" type="submit">Actualizar Producto</button>
        </form>

        <form action="/api/users/delete-inactive-users" method="post">

            <h4>Eliminar los usuarios inactivos</h4>
            <p>Eliminaras a todos los usuarios que hayan estado inactivos por mas de 30 minutos</p>
            <button class="btn-dos" type="submit"
                onclick="return confirm('¿Estás seguro de que quieres eliminar los usuarios inactivos?')">
                Eliminar usuarios
            </button>
        </form>


    </div>
    <div id="logout">
        <a class="logout-a" href="/logout">Salir</a>
    </div>
    <div id="changeRole">
        <a class="changeRole-a" href="/api/users/premium/change-role">Cambiar Roles</a>
    </div>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        text-align: center;
    }

    .form-container {
        display: flex;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 2rem;
    }

    input {
        padding: 5px;
    }

    button {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    h2 {
        font-family: sans-serif;
        font-size: large;
    }

    h3 {
        font-size: large;
        font-family: sans-serif;
        margin-top: 15px;
    }

    h4 {
        font-size: large;
        font-family: sans-serif;
        margin-top: 15px;
    }

    .tittles {
        margin-top: -10rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .btn-uno {
        margin-top: 2rem;
    }

    .btn-dos {
        margin-top: 8.3rem;
    }

    .btn-tres {
        margin-top: 1.4rem;
    }


    #logout {
        margin-top: 15px;
    }

    #changeRole {
        margin-top: 10px;
    }


    .changeRole-a {
        text-decoration: none;

    }

    .logout-a {
        text-decoration: none;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const messageParagraph = document.getElementById('messageParagraph');
        messageParagraph.style.display = 'block';

        setTimeout(function () {
            messageParagraph.style.display = 'none';
        }, 6000);
    });
</script> --}}