<div>
    <h1>Solicitud de cambio de rol</h1>
</div>

<div class="form-container">
    <form action="/api/users/documents" enctype="multipart/form-data" method="post" onsubmit="return handleSubmit()">
        <p>ID:</p> <input class="inputId" type="text" name="id" id="id" placeholder="Ingrese su id" required>
        <p>DNI:</p> <input type="file" name="dni" id="dni" required>
        <p>ADRESS:</p> <input type="file" name="address" id="address" required>
        <p>BANK:</p> <input type="file" name="bank" id="bank" required>
        <input class="btn-enviar" id="btn-enviar" type="submit" value="Enviar">
    </form>
    <div id="mensaje-exito"></div>
</div>


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #e34e98;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: flex-start;
    }

    h1 {
        position: absolute;
        margin-top: -20rem;
        color: #fff;
        font-family: fantasy;
        text-decoration: underline;
        font-synthesis: none;
        margin-left: 10px;
    }

    p {
        margin-bottom: -10px;
    }

    .form-container {
        display: flex;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        margin: 2rem;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    input {
        padding-bottom: 20px;
    }

    .inputId {
        padding: 1px;
    }

    .bnt-enviar,
    #btn-enviar {
        margin-top: 2rem;
        background-color: #e34e98;
        color: #ffff;
        padding: 5px;
        border-radius: 24px;
        cursor: pointer;
        border: 1px solid #61595b00 cursor: pointer;
    }

    .btn-enviar:hover,
    #btn-enviar:hover {
        margin-top: 2rem;
        background-color: #e34e99c4;
        color: #ffff;
        padding: 5px;
        border-radius: 24px;
        cursor: pointer;
        border: 1px solid #61595b00 cursor: pointer;
    }

    #mensaje-exito {
        color: green;
        font-weight: bold;
        margin-top: 10px;
    }
</style>

<script>
    //function handleSubmit() {
    document.getElementById("mensaje-exito").innerText = "Todos los archivos se enviaron de forma exitosa";
    }
</script>