<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    body {
      background-color: #292c3e;
      color: #eaff6a;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      text-align: center;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #1c1f30;
      padding: 1rem;
      box-shadow: 5px 6px 20px 15px #888888;
    }

    h1{
      font-size: x-large;
    }

    p{
      font-size: smaller;
    }

    input {
      padding: 8px;
      width: 45%;
    }

    button {
      margin-top: 10px;
      padding: 5px;
      background-color: #1c1f30;
      color: #eaff6a;
      width: 20%;
      height: 35.5px;
    }
  </style>
</head>
<body>
  <div class="container">
    <form action="/views/recoverPassword" method="post">
      <h1>Solicitud de restablecimiento de contraseña</h1>
      <p>Te enviaremos un email con las instrucciones para restablecer tu contraseña</p>
      <input type="email" name="email" id="email" placeholder="Ingresa tu email" required>
      <button type="submit">Enviar email</button>
    </form>
  </div>

  <script>
    function redirectToLogin() {
        window.location.href = '/views/login';
    }
  </script>
</body>
</html>
