<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
</head>

<body>
  <div class="container">
    <h1>Restaurar contraseña</h1>
    <p>Te enviaremos un email con las instrucciones para restablecer tu contraseña</p>
    <form action="/views/recoverPassword" method="post">
      <input type="email" name="email" id="email" placeholder="Ingresa tu email" required>
      <button type="submit">Enviar email</button>
    </form>
  </div>

  <style>
    body {
      background-color: #e34e98;
      color: #ffff;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      border: 1px solid #61595b00;
      margin-right: 40rem;
      margin-left: 40rem;
      border-radius: 5px;
      background-color: #71244a;
      padding-bottom: 3rem;
      padding-top: 5rem;
      box-shadow: 5px 6px 20px 15px #00000091;
      width: 100%;
      flex-wrap: wrap;
      align-content: center;
    }

    h1 {
      color: #ffff;
      text-decoration: underline;
      font-family: fantasy;
      text-align: center;
      font-synthesis: none;
      margin-top: -2rem;
    }

    h2 {
      text-align: center;
      color: #ffff;
      font-family: fantasy;
      font-synthesis: none;
      margin-bottom: 0rem;
    }

    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: space-evenly;
    }


    p,
    h3,
    input,
    button {
      color: #e34e98;
      font-family: monospace;
      width: 18rem;
    }

    input {
      padding: 8px;
    }

    button {
      color: #ffff;
      background-color: #e34e98;
      margin-top: 1.5rem;
      width: 100%;
      border-radius: 24px;
      cursor: pointer;
      padding: 10px;
    }
  </style>
</body>
<script>
  function redirectToLogin() {
    window.location.href = '/views/login';
  }
</script>

</html>