<div class="container">
    <div class="tittles">
        <h1>Bienvenido</h1>
        <p>¿Qué deseas hacer?</p>
    </div>

    <div class="form-container">
        <form action="/api/products" method="post">
            <h2>Agregar un Producto</h2>
            <input type="text" name="product_name" placeholder="Nombre del producto" required>
            <input type="number" name="product_price" placeholder="Precio del producto" required>
            <input type="text" name="product_description" placeholder="Descripción del producto" required>
            <input type="number" name="stock" placeholder="Stock del producto" required>
            {{#if Message}}
            <p id="messageParagraph" style="color: red;">{{Message}}</p>
            {{/if}}
            <button class="btn-uno" type="submit">Agregar Producto</button>
        </form>

        <form action="/admin/delete-product" method="post">
            <h3>Eliminar un producto</h3>
            <label for="productId"></label>
            <input type="text" name="productId" id="productId" placeholder="ID del producto a eliminar" required>
            <input type="hidden" name="productIdHidden" value="{{productId}}">
            <button class="btn-dos" type="submit"
                onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')">Eliminar
                Producto</button>
        </form>

        <form action="/admin/update-product" method="post">
            <h4>Actualizar un producto</h4>
            <input type="text" name="productIdToUpdate" placeholder="ID del producto a actualizar" required>
            <input type="hidden" name="productId" value="{{productId}}">
            <input type="text" name="newProductName" placeholder="Nuevo nombre del producto">
            <input type="number" name="newProductPrice" placeholder="Nuevo precio del producto">
            <input type="text" name="newProductDescription" placeholder="Nueva descripción del producto">
            <button class="btn-tres" type="submit">Actualizar Producto</button>
        </form>
        <div id="logout">
            <a href="/api/products">Volver al inicio</a>
            <a class="logout-a" href="/logout">Salir</a>
        </div>
    </div>
</div>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #e34e98;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        text-align: center;
    }

    .form-container {
        display: flex;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: flex-start;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 2rem;
    }

    input {
        padding: 6px;
        font-family: monospace;
    }

    button:hover {
        background-color: #0056b3;
    }

    h1 {
        font-size: xxx-large;
        color: #fff;
        text-decoration: underline;
        
    }

    h2 {
        font-family: monospace;
        font-size: large;
    }

    h3 {
        font-size: large;
        font-family: monospace;
        margin-top: 15px;
    }

    h4 {
        font-size: large;
        font-family: monospace;
        margin-top: 15px;
        border: 1px solid #61595b00
    }

    .tittles {
        margin-top: -10rem;
        color: #ffff;
        font-family: fantasy;
        font-synthesis: none;
    }

    .btn-uno {
        margin-top: 2rem;
        background-color: #e34e98;
        color: #ffff;
        padding: 5px;
        border-radius: 24px;
        cursor: pointer;
        border: 1px solid #61595b00
    }

    .btn-dos {
        margin-top: 8.8rem;
        background-color: #e34e98;
        color: #ffff;
        padding: 5px;
        border-radius: 24px;
        cursor: pointer;
        border: 1px solid #61595b00
    }

    .btn-tres {
        margin-top: 1.4rem;
        background-color: #e34e98;
        color: #ffff;
        padding: 5px;
        border-radius: 24px;
        cursor: pointer;
        border: 1px solid #61595b00
    }



    #changeRole {
        margin-top: 10px;
    }

    .changeRole-a {
        text-decoration: none;
    }

    #logout {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80%;
    }

    a {
        text-decoration: none;
        color: #ffff;
        padding-top: 10px;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const messageParagraph = document.getElementById('messageParagraph');


        messageParagraph.style.display = 'block';

        setTimeout(function () {
            messageParagraph.style.display = 'none';
        }, 6000);
    });
</script>