<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recover Password</title>
  <style>
    body {
      background-color: #292c3e;
      color: #eaff6a;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      text-align: center;
      border: 1px solid black;
      border-radius: 5px;
      background-color: #1c1f30;
      padding: 1rem;
      box-shadow: 5px 6px 20px 15px #888888;
    }

    h2 {
      font-weight: 100;
      font-size: x-large;
    }

    p {
      font-size: large;
      font-weight: 100;
    }

    input {
      margin-top: 10px;
      padding: 8px;
    }

    button {
      padding: 8px;
      background-color: #1c1f30;
      color: #eaff6a;
    }
  </style>
</head>

<body>
  <div class="container">
    <h2>Listo, puedes ir a chequear tu casilla de email para recuperar tu contraseña. <br> Si no lo encuentras verifica la casilla de spam.</h2>
    <p>Enlace de restablecimiento enviado</a></p>
    <button onclick="window.location.href='/views/login'">Volver a login</button>
  </div>
</body>

</html>