<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
</head>

<body>
    <div id="formulario">
        <h1>Restaurar contraseña</h1>
        <form action="/views/ahorasi" method="post">
            <input type="email" id="email" name="email" placeholder="Ingresa tu email" required>
            <input type="password" id="newPassword" name="newPassword" placeholder="Ingresa tu nueva contraseña"
                required>
            <input type="text" id="codeIngresado" name="codeIngresado" placeholder="Ingresa el codigo enviado">
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>

<style>
    body {
        background-color: #e34e98;
    }

    form {
        display: contents;
    }

    p,
    h1,
    h3,
    input,
    button {
        color: #e34e98;
        font-family: monospace;
        width: 18rem;
    }

    h2,
    h3 {
        text-align: center;
        color: #ffff;
        font-family: fantasy;
        font-synthesis: none;
        margin-bottom: 0rem;
    }

    input {
        padding: 5px;
        margin-top: 10px;
    }

    button {
        color: #ffff;
        background-color: #e34e98;
        padding-right: 4rem;
        padding-left: 4rem;
        margin-top: 1.5rem;
        border-radius: 24px;
        cursor: pointer;
    }

    #button {
        margin-top: 1.5rem;
        background-color: #e34e98;
        color: #ffff;
        padding: 5px;
        border-radius: 24px;
        cursor: pointer;
    }

    #formulario {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 1px solid #61595b00;
        justify-content: center;
        align-content: center;
        margin-right: 40rem;
        margin-left: 40rem;
        margin-top: 15rem;
        border-radius: 5px;
        background-color: #71244a;
        padding-bottom: 5rem;
        padding-top: 5rem;
        box-shadow: 5px 6px 20px 15px #00000091;
        align-items: center;
    }
</style>

</html>